.create_backG{
    background-image: url('https://images8.alphacoders.com/528/thumb-1920-528712.jpg');
    width: 2150px;
   height: 1200px;
    background-size: cover;
   background-position: center center;
  
  
}
.form{
  -webkit-box-shadow: 0px 0px 11px 8px rgba(138, 178, 230, 0.66); 
box-shadow: 0px 0px 11px 8px rgba(14, 121, 192, 0.66);
width: 500px;
height: 800px;
margin-left: 1300px;
/* position: absolute; */
border-radius: 6%;


}
 label{
    
  background: #7DCEBA;
background: -moz-linear-gradient(left, #7DCEBA 0%, #399AA4 44%, #5C68C5 100%);
background: -webkit-linear-gradient(left, #7DCEBA 0%, #399AA4 44%, #5C68C5 100%);
background: linear-gradient(to right, #7DCEBA 0%, #399AA4 44%, #5C68C5 100%);
 
/* position:relative; */
align-items: flex-start;
font-family: Georgia, serif;
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 0.2px;
color: #1a1c1d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
border-radius: 4%;

} 
input {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  }
  select{
      margin-left: 10px;
 margin-right: 10px;
 padding-top: 10px;
 margin-bottom: 15px;
  }
  .createButton {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:6px;
    text-transform: uppercase;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family: Georgia, serif;
    font-size:34px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
  }
  .createButton:hover {
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color:#468ccf;
  }
  .createButton:active {
    position:relative;
    top:1px;
  }input {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  }
  select{
      margin-left: 10px;
 margin-right: 10px;
 padding-top: 10px;
 margin-bottom: 15px;
  }
      /* .create_input {
    width: 10%;
    height:25px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    /* transition: .3s ease; 
   }  */
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
    .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 20%);
   } 
   ul{
    display: flex;
    align-self: center;
} 
 ul li{
    color:beige;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }p.danger {
    color: red;
    font-size: 10px;
  }
  
  input.danger {
    border: 2px solid red;
  } 
 /* 
  input + span {
    padding-right: 30px;
  }
  
  input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  } */
 
  /* .createButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
  .createButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
  .createButton:active {
    position:relative;
    top:1px;
  } */

   
