
.pagination{
    list-style-type: none;
    margin: 0;
    padding: 0;
     display: inline-block;
    padding: 0;
    margin: 0;
     ;
}


.pagination li  {
    color: black;
    float: left;
    padding: 8px 16px;
  
    border: 1px solid rgb(239, 239, 106);
    background-color: bisque;
}
ul.pagination li:hover{
background-color: aquamarine;
}
li {
    display: inline;
    cursor: pointer;
   }